#suggestion {
  background: #353535; 
  text-align: center; /* Center-align the text */
  padding: 5px 10px; /* Adjust padding as needed */
  border-radius: 5px; /* Add rounded corners */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  width: fit-content; /* Set the width to fit the content */
  color: var(--text-color); 
/*  opacity: 90%;*/
}

/* Position the suggestion above the textarea/prompts */
.suggestion-container {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center; /* Center horizontally */
}

/* Mobile view styles for the suggestion span */
/*@media screen and (max-width: 600px) {
  .suggestion-container {
    position: absolute;
    top: -300px;
    left: 0;
    right: 0;
  }
}
*/