#suggestion {
  background: #353535; 
  text-align: center; 
  padding: 5px 10px;
  border-radius: 5px; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
  width: fit-content; 
  color: var(--text-color); 
  font-size: 12px;
}

/* Position the suggestion above the textarea/prompts */
.suggestion-container {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center; /* Center horizontally */
}


.suggestion-item {
  margin-bottom: 10px; /* Add space between suggestions */
  padding: 5px; /* Add padding for better clickability */
  cursor: pointer; /* Change cursor to pointer on hover */
  background: #454545; /* Slightly different background for visibility */
  border-radius: 3px; /* Rounded corners for suggestion items */
}

.suggestion-item:last-child {
  margin-bottom: 0; /* Remove margin from the last item */
}

.suggestion-item:hover {
  background: #555555; /* Change background on hover */
}