/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/valorant');
@font-face {
  font-family: 'CustomFont';
  src: url('./font/OriginTech personal use.ttf') format('truetype');
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
  font-size: 12px;

}

:root {

  --text-color: #343541;
  --icon-color: #a9a9bc;
  --placeholder-color: #6c6c6c;
  --outgoing-chat-bg: #ECE8E1;
  --incoming-chat-bg: #F7F7F8;

}

body {
  background: var(--outgoing-chat-bg);
}

/*.topnav {
  overflow: hidden;
  background-color: none;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: right;
  }

.topnav p {
  font-size: 5px;
  color: black;
  margin: 0;
  padding: 8px;
  }

.topnav a {
  text-decoration: none;
  color: #000000;
  font-size: 10px;
  }*/

/*.topnav a:hover {
  background-color: none;
  color: blue;
  }*/

.typing-textarea {
  position: relative;
}

#chat-input:focus + #suggestion {
  right: calc(100% - var(--input-width));
}
#suggestion {
  background: #F1F1F1; 
  text-align: center; 
  padding: 5px 10px; 
  border-radius: 5px; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
  width: fit-content; 
  color: var(--text-color); 
  opacity: 90%;
  font-size: 12px;
}

.suggestion-container {
  position: absolute;
  bottom: 90px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center; 
}

#send-btn {
  display: block; 
  vertical-align: middle;
  margin-right: 20px; 
  margin-bottom: 16px; 
  color: var(--text-color);
  font-size: 15px;
}

#delete-btn {
  width: 45px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
  color: var(--text-color);
  font-size: 19px;
}

/* Chats container styling */
.chat-container {
  margin-top:50px;
  overflow-y: auto;
  max-height: 100vh;
  padding-bottom: 150px;
}

:where(.chat-container, textarea)::-webkit-scrollbar {
  width: 6px;
}

:where(.chat-container, textarea)::-webkit-scrollbar-track {
  background: var(--incoming-chat-bg);
  border-radius: 25px;
}

:where(.chat-container, textarea)::-webkit-scrollbar-thumb {
  background: var(--icon-color);
  border-radius: 25px;
}
.default-text {
  height: 70vh;
  padding: 0 25px;
  color: var(--text-color);
}

.default-text h1 {
  font-size: 3.3rem;
  font-family: 'VALORANT', sans-serif;
   
}
.default-text h2 {
  font-family: 'CustomFont', sans-serif;
  font-weight: bold;
}
.default-text p {
  margin-top: 9px;
  font-size: .790rem;
}

.default-intro{
  text-align: left;
}
.user-img{
  align-items: center;
}
#default-intro2 {
/*   position: fixed;*/
}
#img1 {
    position: fixed;
    right: 0;
/*    z-index: 1;*/
    z-index: 1;
    width: auto;
    height: 50%;
    opacity: 92%;
    transition: opacity 0.5s ease;
}

/*#img2 {
    position: fixed;
    left: 0;
    z-index: 0;
    width: auto;
    height: 100%;
    opacity: 4%;
    top: 0;
}*/
#Portfolio{
  height: auto;
  width: 100%;
}
#smart {
  object-fit: cover;
  position: relative; 
  z-index: 0;
}
.curveImg {
  position: fixed;
    left: 0;
    width: auto;
    height: 100%;
    opacity: 5%;
    top: 0;
  width: 100%;
  pointer-events: none;
}
.chat-container .chat {
  padding: 25px 10px;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

.chat-container .chat.outgoing {
  background: var(--outgoing-chat-bg);
  border: 1px solid var(--outgoing-chat-border);
}

.chat-container .chat.incoming {
  background: var(--incoming-chat-bg);
  border: 1px solid var(--incoming-chat-border);
}

.chat .chat-content {
  display: flex;
  max-width: 1200px;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

span.material-symbols-rounded {
  
  color: var(--icon-color);
  user-select: none;
  cursor: pointer;
}

.chat .chat-content span {
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--icon-color);
  visibility: hidden;
}

.chat:hover .chat-content:not(:has(.typing-animation), :has(.error)) span {
  visibility: visible;
}

.chat .chat-details p.error {
  color: #e55865;
}
.chat .typing-animation {
  padding-left: 25px;
  display: inline-flex;
}

.chat .chat-details .image-container {
    width: 100%;
    height: auto;
}

.chat .chat-details .image-container img {
    width: 100%;
    height: 50%;
    border-radius: 2px;
    padding: 0 25px 0 0;
}
.chat-details {
    display: flex;
    gap: 25px; 
    width: 100%;
}
.answer-text {
    font-size: 12px;
    margin-right: 10px;
}
.chat-details {
  font-size: 12px !important;
}

.chat-details img {
    width: 35px;
    height: 35px;
    border-radius: 2px;
    object-fit: cover;
}

.chat-details p {
    white-space: pre-wrap;
    font-size: 12px;
    padding: 0 25px 0 25px;
    color: var(--text-color);
    word-break: break-word;
}


/* Add styling for the disclaimer */
.disclaimer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: var(--outgoing-chat-bg);
  text-align: center;
  color: var(--text-color);
  font-size: 8px;
}

/* Adjust the z-index to ensure it's above other elements */
.disclaimer {
  z-index: 1;
}
.disclaimer span{
  color: #343541;
}


/* Typing container styling */
.typing-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1; /* Adjust the z-index as needed */
  margin-bottom: 29px;
}

.typing-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 20px 10px;
  justify-content: center;
   background: var(--outgoing-chat-bg);
/*  background: var(--outgoing-chat-bg)*/
  border-top: 1px solid var(--incoming-chat-border);
}

.typing-container .typing-content {
  display: flex;
  max-width: 950px;
  width: 100%;
  align-items: flex-end;
}

.typing-container .typing-textarea {
  width: 100%;
  display: flex;
  position: relative;
}

.typing-textarea textarea {
  resize: none;
  max-height: 45px; /* Increase the maximum height to 50px */
  width: 100%;
  border: none;
  padding: 15px 45px 15px 20px;
  color: var(--text-color);
  font-size: 14px;
  border-radius: 3px;
  background: var(--incoming-chat-bg);
  outline: 1px solid var(--incoming-chat-border);
}


.typing-textarea textarea::placeholder {
  color: var(--placeholder-color);
}

.typing-content span {
  width: 55px;
  height: 55px;
  display: flex;
  border-radius: 4px;
  font-size: 1.35rem;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
}

/* Add styling for the nav element */

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; /* Adjust the z-index as needed */
}

.top-nav .nav-container {
  display: inline-flex;
  align-items: center;
}

.top-nav span#theme-btn {
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--icon-color);#FFFFFF
  margin-left: 50px;
}

.nav-label{
  font-size: 12px; /* Adjust the font size as needed */
  color: #FFFFFF; /* Adjust the text color as needed */
  margin-left: 10px; /* Add some margin between the "menu" and "SmartNavigator" */
  display: flex;
  align-items: center;
}

.logo-img{
  margin-left: 10px;
  margin-right: 10px;
}


.version {
  margin-left: 9px;
  color: #75a99c;
}


.typing-textarea span {
  position: absolute;
  right: 0;
  bottom: 0;
  visibility: hidden;
}

.typing-textarea textarea:valid ~ span {
  visibility: visible;
}

.typing-controls {
  display: flex;
}

.typing-controls span {
  margin-left: 7px;
  font-size: 1.4rem;
  background: var(--incoming-chat-bg);
  outline: 1px solid var(--incoming-chat-border);
}

/*.typing-controls span:hover {
  background: var(--icon-hover-bg);
}*/


/*typing effect*/
#typewriter {
        color: #343541;
        font-weight: normal;
      }

      #cursor {
        color: #343541;
        animation: blink 1s linear infinite;
      }

      @keyframes blink {
        0% {
          opacity: 100%;
        }
        50% {
          opacity: 0%;
        }
      }
/* For screens with a width less than or equal to 600px (small screens) */
@media screen and (max-width: 600px) {
  #default-sub2 {
    position: fixed;
    bottom: 25%;
    padding-right: 25px;
  }
  #default-sub {
    padding-right: 20px;
    overflow-x: auto;
    font-weight: normal;
  }
  .default-text h1 {
    font-size: 1.9rem;
  }
  :where(textarea, .chat p) {
    font-size: 12px;
  }
  .default-text p {
    font-size: 1rem;
  }
  .chat-container .chat {
    padding: 20px 10px;
  }
  .chat-container .chat img {
    height: 32px;
    width: 32px;
  }
  .chat-container .chat p {
    padding: 0 25px 0 0;
  }
  .chat-details p {
    padding: 0 25px;
  }
  .chat .chat-content:not(:has(.typing-animation), :has(.error)) span {
    visibility: visible;
  }
  .typing-container {
    padding: 15px 20px;
  }
  .typing-textarea textarea {
    padding: 10px 40px 10px 10px;
  }
  .typing-content span {
    height: 55px;
    width: 55px;
    margin-left: 5px;
  }
  span.material-symbols-rounded {
    font-size: 1.25rem;
  }
  img.resize-image {
    width: 100%;
    height: 100%;
  }
}

/* For screens with a width between 601px and 1200px (medium screens) */
@media screen and (min-width: 601px) and (max-width: 1200px) {
  #default-sub2 {
    position: fixed;
    padding-top: 250px;
  }
  .default-text h1 {
    font-size: 2.8rem;
  }
  :where(.default-text p, textarea, .chat p) {
    font-size: 14px;
  }
  #smart {
    font-size: 4rem;
  }
  .default-text p {
    font-size: 1.2rem;
  }
  .default-text {
    padding: 0 110px;
  }
  .chat-container .chat {
    padding: 25px 100px;
  }
  .chat-container .chat img {
    height: 36px;
    width: 36px;
  }
  .chat-container .chat p {
    padding: 0 5px;
  }
  .chat .chat-content:not(:has(.typing-animation), :has(.error)) span {
    visibility: visible;
  }
  .typing-container {
    padding: 15px 100px;
  }
  .typing-textarea textarea {
    height: 60px;
    padding: 12px 45px 12px 12px;
  }
  .typing-content span {
    height: 60px;
    width: 60px;
    margin-left: 8px;
  }
  span.material-symbols-rounded {
    font-size: 1.35rem;
  }
}

/* For screens with a width greater than 1200px (large screens) */
@media screen and (min-width: 1201px) {
  #default-sub2 {
    position: fixed;
    padding-top: 14%;
    padding-right: 35px;
  }
  #img1 {
    height: 70%;
  }
  #theme-btn {
    margin-right: 30px;
  }
  #smart {
    font-size: 60px;
  }
  .default-text h1 {
    font-size: 3.3rem;
  }
  :where(.default-text, textarea, .chat p) {
    font-size: 16px;
  }
  #Portfolio {
    height: auto;
    width: 100%;
  }
  .default-text p {
    font-size: 18px;
  }
  .default-text {
    padding: 0 160px;
  }
  .chat-container .chat {
    padding: 30px 150px !important;
  }
  .chat-container .chat p {
    padding: 0;
  }
  .chat .chat-content:not(:has(.typing-animation), :has(.error)) span {
    visibility: visible;
  }
  .typing-textarea textarea {
    height: 70px;
    padding: 15px 50px 15px 15px;
  }
  .typing-content span {
    height: 70px;
    width: 70px;
    margin-left: 10px;
  }
  span.material-symbols-rounded {
    font-size: 1.5rem;
  }
}

/* Media query for screens larger than tablets (769px and above) */
@media screen and (min-width: 769px) {
  .typing-container {
    padding: 15px 160px;
  }
  .chat-details div img {
    max-width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .chat-details .image-container img {
    height: auto;
    float: left;
    margin: 0 20px 20px 0;
  }
  .chat-details p {
    margin: 0;
  }
  .chat-details iframe {
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
  }
}

/* For screens with a width greater than 2560px (4K screens) */
@media screen and (min-width: 2561px) {
  .wrapper {
    padding: 0 320px; /* Adjust padding to center content */
  }
  .container {
    max-width: 1920px; /* Adjust as needed */
    width: 100%;
    margin: 0 auto; /* Center the container horizontally */
  }
  .typing-container {
    padding: 0 660px;
    width: 100%;
  }
  .img1 {
    margin: auto;
    margin-top: 20px;
  }
}


.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px; /* Adjust the padding as needed */
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}




/*.portfolio-container {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 10px;
  width: 100%;
}

.portfolio-item {
  width: 100%;
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 769px) {
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr); 
  }
}
*/



/* General styles for the portfolio container */
.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Add some space between items */
}

/* Styles for each portfolio item */
.portfolio-item {
  flex: 1 1 calc(33.333% - 32px); /* Default to three items per row with some margin */
  max-width: calc(33.333% - 32px); /* Ensures items do not grow too big */
  box-sizing: border-box; 
}

.portfolio-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover; 
}
.portfolio-item:hover img {
  transform: scale(1.2); 
  transition: transform 0.5s ease-in-out;
}

/* Media query for smaller screens (tablets) */
@media (max-width: 768px) {
  .portfolio-item {
    flex: 1 1 calc(50% - 16px); /* Two items per row */
    max-width: calc(50% - 16px);
  }
}

/* Media query for even smaller screens (mobile) */
@media (max-width: 480px) {
  .portfolio-item {
    flex: 1 1 100%; /* One item per row */
    max-width: 100%;
  }
}

